body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #53505064;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .calculator {
    width: 100%;
    max-width: 400px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .display input {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: right;
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .btns input {
    width: 22%;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btns input:hover {
    background-color: #e1e1e1;
  }
  
  @media (max-width: 400px) {
    .btns input {
      padding: 15px;
      font-size: 16px;
    }
  }
  